# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd


# ==========================
# Virtual Environments
# ==========================

.venv/
venv/
env/


# ==========================
# Jupyter Notebook
# ==========================

.ipynb_checkpoints/


# ==========================
# Environment Variables
# ==========================

.env
.env.*
!.env.example


# ==========================
# IDE / Editor
# ==========================

.vscode/
.idea/


# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db


# ==========================
# Python Testing / Cache
# ==========================

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ==========================
# Logs
# ==========================

*.log


# ==========================
# Frontend - add now for later UI
# ==========================

frontend/node_modules/
frontend/dist/


# ==========================
# Future trained model files
# ==========================

*.pth
*.pt
*.h5
*.keras